.m_header{
    display: flex;
    justify-content: space-around;
}

.m_header h1{
    text-align: center;
}
ul{
    display: flex;
}
li{
    margin: 24px;
    list-style: none;
    font-size: 20px;
    
}
.m_header li{
    margin-left: 43px;
}
.logo_color{
    color: brown;
}
    .btn_primary{
        font-size: 20px;
        border: none;
        background-color: orangered;
        color: aliceblue;
        padding: 10px;
    }
    li a{
        text-decoration: none;
    }
    
